body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #fff5f7;
    color: #333;
    overflow-x: hidden;
  }
  
  nav {
    background-color: rgba(248, 193, 204, 0.9); /* Rosa translúcido */
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 2;
  }
  
  nav a {
    margin: 0 20px;
    color: #5d3a47;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav a:hover {
    color: #ff8099;
  }